@import './base.css';

 .testimonials {
   padding: 50px 20px;
   text-align: center;
}

.testimonials h2 {
   font-size: 2.5em;
   color: #333;
   margin-bottom: 20px;
}

.testimonial {
   background: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   display: inline-block;
   margin: 10px;
   padding: 20px;
   text-align: left;
   width: calc(50% - 45px);
   vertical-align: top;
}

.testimonial.container img {
   border-radius: 50%;
   height: 100px;
   width: 200px;
   display: inline-block;
   margin-right: 100px;
}

.testimonial .stars img {
   height: 10px;
   width: 10px;
}

.testimonial p {
   color: #555;
   font-size: 1em;
   margin: 10px 0;
}

.testimonial span {
   color: #777;
   font-size: 0.9em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.site-header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

.hero {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.highlight {
    color: #ff9900;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    margin-right: 10px;
}

.image-container {
    margin-top: 50px;
}

.what-we-give {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
   
}


.selected-course {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stat {
    margin-top: 20px;
}

.available-courses {
    padding: 50px 0;
    text-align: center;
}

.courses {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.course {
    margin: 20px;
}

.see-all {
    margin-top: 20px;
}

.testimonials {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.testimonial {
    margin-top: 20px;
}

